In [76]:
import numpy as np
import pandas as pd
from sklearn import tree
df = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [77]:
df.head()

,Deneyim Yili,SuanCalisiyor?,EskiCalistigiFirmalar,EgitimSeviyesi,Top10Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

Sci-kit kutuphanesi rakamsal bir ifade beklediği için Y ve N leri değiştirmemiz gerekiyor buyüzden 0 ve 1 ile desğiştiriyoruz.
Aynı şekilde eğitim seviyesinde ise BS=0, MS=1, PhD=2 olarak guncelliyoruz.

In [78]:
correction_mapping = {'Y':1, 'N':0}

df['IseAlindi'] = df['IseAlindi'].map(correction_mapping)
df['SuanCalisiyor?'] = df['SuanCalisiyor?'].map(correction_mapping)
df['Top10Universite?'] = df['Top10Universite?'].map(correction_mapping)
df['StajBizdeYaptimi?'] = df['StajBizdeYaptimi?'].map(correction_mapping)

correction_mapping_train = {'BS':0, 'MS':1, 'PhD':2}
df['EgitimSeviyesi'] = df['EgitimSeviyesi'].map(correction_mapping_train)

df.head()

,Deneyim Yili,SuanCalisiyor?,EskiCalistigiFirmalar,EgitimSeviyesi,Top10Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [79]:
y = df['IseAlindi'] # Sonuc kısmı
X = df.drop(['IseAlindi'], axis=1) # Girilen parametreler

Decision Tree'mizi oluşturuyoruz:

In [80]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y);

In [81]:
#Bu kısımda tahmin yapacağız örneğin;
#5 yıl deneyim, halihazırda biryerde çalışan ve 3 eski şirkette çalışmış olan,
#eğitim seviyesi Lisans, top tier school mezunu değil
print(clf.predict([[5, 1, 3, 0, 0, 0]]))

[1]

C:\Users\Talha\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [82]:
#Toplamda 2 yıllık iş deneyimi, 7 kez iş değiştirmiş çok iyi bir okul mezunu şuan çalışmıyor
print(clf.predict([[2, 0, 7, 0, 1, 0]]))

[0]

C:\Users\Talha\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [83]:
#Toplam 2 yıllık iş deneyimi, 7 kez iş değitirmiş çok iyi bir okul mezunu değil şuan çalışıyor
print(clf.predict([[2, 1, 7, 0, 0, 0]]))

[1]

C:\Users\Talha\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(